/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #629DD3;
  font-family: 'Inter', sans-serif;
  color: #222222;
}

p {
  font-size: 15px;
}

h1 {
  color: #F3F7FA;
  font-family: 'Alata', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

h2 {
  color: #F3F7FA;
  font-family: 'Alata', sans-serif;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 16;
  font-weight: 600;
}

/* pageBody is the parent of all children */
.pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

/* Header styling */
.header {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SignIn/SignUp styling */
.form {
  width: 85%;
}

.fields {
  display: flex;
  flex-direction: column;
}

/* Field in form styling */
.inputField {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 40px;
  background: #F2ECEC;
  font-size: 14px;
  font-weight: 400;
  border-color: none;
  color: #575757;
}

.inputField:hover {
  background-color: #EAEAEA;
} 
.inputField:focus {
  color: #222222;
}

/* Buttons styling */
.primaryButton {
  padding: 15px;
  border-radius: 40px;
  background: #4B957B;
  color: #FAF7F7;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  background-color: #8EB9AA;
}
button:active {
  background-color: #9EBEB3;
}


/* Containers styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  width: 100%;
  height: 800px; 
  background: #FAF7F7;
  border-radius: 37px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%; 
  height: 100vh; 
  overflow: auto;
  padding-top: 10px;
}

.floatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FAF7F7;
  width: 80%;
  min-width: 310px;
  height: 418px;
  padding: 72px 10px;
  border-radius: 37px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



/* xxx */
.textAlignedLeft {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px 20px;
}

/* Chat in chat list styling */
.chat-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 7px;
  color: #222222;
}
.message-flex {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.profilepic {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px; 
  background-color: #88B4DD;
  border-radius: 50%;
}
.previewInfo {
  width: 100%;
}
.time {
display: flex;
}

.previewInfoFlex {
  display: flex;
  justify-content: space-between;
}

/* ChatListPage.css */

.searchContainer {
  display: flex;
  width: 80%;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 0px;
  background-color: #D9D9D9;
  color: #3D3D3D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 15px;
  max-width: 70%;
  box-shadow: 5px 5px 5px #DBDBDB;
}


.message-box {
  background-color: #FAF7F7;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.currentUser {
  align-self: flex-end;
  background-color: #88B4DD;
  color: #222222;
  padding: 15px;
  margin-right: 5px;
}

.otherUser {
  align-self: flex-start;
  background-color: #EAEAEA;
  color: #222222;
  padding: 15px;
  margin-left: 5px;
}

.sender-id {
  color: #575757;
  font-size: 10px;
  text-align: right;
  padding-top: 5px;
}