/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #629DD3;
  font-family: 'Inter', sans-serif;
  color: #222222;
}

p {
  font-size: 15px;
}

h1 {
  color: #F3F7FA;
  font-family: 'Alata', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

h2 {
  color: #F3F7FA;
  font-family: 'Alata', sans-serif;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16;
  font-weight: 600;
}

/* pageBody is the parent of all children */
.pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

/* Header styling */
.header {
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SignIn/SignUp styling */
.form {
  width: 85%;
}

.error-message {
  color: red;
  margin-bottom: 9px;
  margin-left: 8px;
  font-size: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
}

/* Field in form styling */
.inputField {
  display: flex;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 40px;
  background: #F2ECEC;
  font-size: 14px;
  font-weight: 400;
  border-color: none;
  color: #575757;
}
.inputField:hover {
  background-color: #EAEAEA;
} 
.inputField:focus {
  color: #222222;
}

/* Buttons styling */
.primaryButton {
  padding: 15px;
  border-radius: 40px;
  background: #4B957B;
  color: #FAF7F7;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  background-color: #8EB9AA;
}
button:active {
  background-color: #9EBEB3;
}

.secondary-button {
  background-color: #222222;
  color: #FAF7F7;
  padding: 15px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
  margin: 5px;
}
.secondary-button:hover {
  background-color: #3D3D3D;
}
.secondary-button:active {
  background-color: #575757;
}

.tertiary-button {
  background-color: #DBDBDB;
  color: #222222;
  padding: 15px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 600;
  margin: 5px;
}
.tertiary-button:hover {
  background-color: #DAD9DE;
}
.tertiary-button:active {
  background-color: #ACACAD;
}


/* Containers styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #FAF7F7;
  border-top-right-radius: 37px;
  border-top-left-radius: 37px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100vh; 
  overflow: auto;
}

.floatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FAF7F7;
  width: 80%;
  min-width: 310px;
  height: 418px;
  padding: 72px 10px;
  border-radius: 37px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* xxx */
.text-aligned-left {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px 7px;
}

/* Chat in chat list styling */
.chat-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;
  width: 90%;
  margin: 7px;
  color: #222222;
}

.message-flex {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.profilepic {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px; 
  background-color: #629DD3;
  border-radius: 50%;
  margin-right: 10px;
  color: #FAF7F7;
  font-weight: 600;
  font-size: 20px;
}

.previewInfo {
  width: 100%;
}

.time {
display: flex;
}

.previewInfoFlex {
  display: flex;
  justify-content: space-between;
}

/* ChatListPage.css */

.search-container {
  display: flex;
  width: 90%;
  height: 50px;
  padding: 15px;
}

.searchInput {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  font-size: 14px;
  color: #3D3D3D;
  background-color: #E8E8EA;
}

.container-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 15px;
  max-width: 70%;
  box-shadow: 5px 5px 5px #DBDBDB;
}

.input-and-send .inputField {
  margin: 0;
  width: 65%;
}

.input-and-send {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 20px;
}

.currentUser {
  align-self: flex-end;
  background-color: #88B4DD;
  color: #222222;
  padding: 15px;
  margin-right: 5px;
  border-radius: 20px;
}

.otherUser {
  align-self: flex-start;
  background-color: #EAEAEA;
  color: #222222;
  padding: 15px;
  margin-left: 5px;
  border-radius: 20px;
}

.sender-id {
  color: #575757;
  font-size: 10px;
  text-align: right;
  padding-top: 5px;
}

.popup-container {
  background-color: #FAF7F7;
  border: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #575757;
  box-shadow: 200px 200px 200px 500px rgba(0, 0, 0, 0.7);
  margin: 30px;
}

.popup-header{
  color: #222222;
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.popup-bot {
  background-color: #629DD3;
  border-radius: 50%;
  width:fit-content;
  padding: 5px;
}

.popup-content {
  padding-bottom: 20px;
  color: #222222;
  text-align: center;
}
.popup-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; 
  background-color: #FAF7F7;
  text-align: center;
  padding-bottom: 10px;
}
.scam-word {
  color:#222222;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
}
